<div>{{nombre}}</div>
<h1>C'est le composant 1</h1>
<p>
  rem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam venenatis tincidunt purus a eleifend. Phasellus ac nisi accumsan nisl iaculis eleifend et at felis. Sed pharetra sem hendrerit hendrerit consectetur. Nam enim elit, tincidunt at enim a, pretium interdum nisi. Nullam accumsan risus vitae ex posuere tristique. Mauris diam nisi, vulputate lobortis tincidunt eu, tincidunt at justo. Duis sed nisl ut purus sollicitudin accumsan et vitae nisi.
</p>

<input [(ngModel)]="nombreSaisi" (input)="valueHasChanged()">
